body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

a {
  color: #61dafb;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 95%;
}

.single-card {
  max-width: 100%;
}

.card-image {
  object-fit: contain
}
